body {
    font-family:'Poppins' ;
    margin:0;

  }
  a{
    text-decoration: none;
    color: rgb(110, 21, 170)
  }
  header{
    width: 1140px;
    max-width: 90%;
    margin:auto;
    height:50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    font-weight: bold;
    font-size: 50px;
    font-stretch: expanded;
  }
  header nav a{
    margin-left: 30px;
  }
  .rotate{
    margin-top: -50px;
    height: 800px;
    overflow: hidden;
    position: relative;
  }